<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>处理采购单</title>
</head>
<body>
<div class="container">
		<div class="col-md-6 col-offset-3">
			<h1>采购单列表</h1>
			<table border="1">
			<tr>
			<th>序号</th>
			<th>采购单</th>
			<th>申请时间</th>
			</tr>
			<tr th:each="handle:${HadlePurchaseorder}">
			<td th:text="${handleStat.index}">编号</td>
			<td th:text="${hamdle.Pmessage}">采购单信息</td>
			<td th:text="${hamdle.postedTime}">发送时间</td>
			</tr>
			</table>
			<a th:href="@{'/hquer/'+${Administrators}}">返回</a>
		</div>
	</div>
</body>
</html>